/** Général **/

html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}
button {
    border: none;
}

/*************/

            /**Header**/

/*Nav*/

.nav__logo {
    width: 100px;
    height: 50px;
    margin-left: 5%;
}

nav a {
    color: #0065FC;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav_container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-wrap: wrap-reverse;
}

.hebergement_link {
    width: 50%;
    text-align: center;
    border-bottom: solid 3px #0065FC;
    padding-bottom: 10px;
    position: relative;
    transition: 0.5s;
}

.hebergement_link:focus {
    border-bottom: solid 3px #0065FC;
}

.activites_link {
    width: 50%;
    text-align: center;
    border-bottom: solid 3px #F2F2F2;
    padding-bottom: 10px;
    position: relative;
    transition: 0.5s;
}

.activites_link:focus {
    border-bottom: solid 3px #0065FC;
}

.inscrire_link {
    position: relative;
    bottom: 56px;
    margin-right: 5%;
    padding-top: 10px;
    font-weight: bold;
}
.activites_link:hover {
    border-bottom: solid 3px #0065FC;
}

/**Titres**/

hgroup {
    margin-top: 20px;
}

h1 {
    font-size: 1.5em;
    padding-top: 20px;
}

h4 { 
    font-weight: normal;
}

/****/

/**Barre de recherche**/


.recherche_txt {
    font-weight: bold;
    text-indent: 10%;
}

h5 {
    font-size: 17px;
    font-weight: 500;
}

.search_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 20% 20% 20% 20%;
    margin-top: 20px;
}

.icone_marqueur {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 20% 0 0 20%;
}

.recherche_txt {
    width: 200px;
}

input{
    border: none;
    height: 40px;
    width: 200px;
}

.search_bar button{
    border: solid 1px #0065FC;
    background-color: #0065FC;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
}

.recherche_infos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone_info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: 1px solid #ddd5d5;
    width: 20px;
    height: 20px;
    border-radius: 20px 20px 20px 20px;
}

.recherche_infos p{
    margin-left: 10px;
}
/**Filtres**/

.filtre_titre {
    margin-top: 40px;
    margin-bottom: 10px;
}

.filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}
.filtres_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding:  0 20px 0 0;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 50px;
    font-size: 15px;
    margin: 10px;
    background-color: white;
}

.filtres_icone{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 52px;
    height: 52px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
}

.filtres_txt{
    padding-left: 10px;
}

.filtres_btn:hover{
    cursor: pointer;
    background-color: #dff1fc;
}

/****/

/**Aside**/

aside{
    padding-bottom: 20px;
}

aside p{
    margin-top: 5px;
    font-size: 15px;
}


/**Aside_Photo**/

.photo_populaire {
    background-size: cover;
    background-position: center;
    height: 135px;
    width: 135px;
    border-radius: 15px 0 0 15px;
}

.photo_hotel_soleil{
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.photo_chambre_hote{
    background-image: url(images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.photo_hotel_bleublanc{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

/****/

.populaire_titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    padding-top: 20px;
}

.populaire_icone_titre{
    padding-right: 25px;
    font-size: 25px;
}

aside{
    background-color: #F2F2F2;
}

aside h3, a{
    color: black;
}

aside p{
    margin-top: 5px;
    font-size: 15px;
}

.carte_populaire{
    border-radius: 20px 20px 20px 20px;
    margin: 15px 5% 0 5%;
    background-color: white;
    box-shadow: 0 0 5px 5px rgb(236, 234, 234);
    transition-duration: 1s;
}
.carte_populaire:hover{
    transform: scale(1.1);
}

.carte_description{
    display: flex;
    padding: 5px;
}

.photo_description{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.evaluation{
    padding-top: 20px;
    color: #0065FC;
}

.grey_star{
    color: #F2F2F2;
}

h4{
    font-weight: bold;
    margin: 0px;
}

/****/

/**Hébergement**/

.hebergement_titre {
    padding-top: 10px;
    padding-left: 25px;
}

.hebergements_marseille p{
    font-size: 15px;
}

/**Hebergement Photo**/

.photo_cannebiere{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.photo_hotel_port{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.photo_hotel_mouettes{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.photo_hotel_mer{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.photo_auberge_panier{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.photo_hotel_amina{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

/**/

.carte_hebergement{
    border-radius: 20px 20px 20px 20px;
    margin: 5% 5% 0 5%;
    box-shadow: 0 0 5px 5px rgb(236, 234, 234);
    transition-duration: 1s;
}
.carte_hebergement:hover{
    transform: scale(1.1);
}
.carte_hebergement_description{
    padding: 5px;
}

.hebergement_photo_description{
    padding: 5px;
    line-height: 14px;
}

.hebergement_evaluation{
    color: #0065FC;
    padding: 0;
}

.hebergement_prix_nuit{
    margin: 0 0 5px 0;
}

.hebergement_plus{
    margin-left: 25px;
    margin-top: 40px;
    font-weight: bold;
}

.titre_hebergement {
    padding-top: 10px;
}

/****/

/**Activités**/

.carte_activites{
    border-radius: 20px 20px 20px 20px;
    margin: 5% 5% 0 5%;
    box-shadow: 0 0 5px 5px rgb(236, 234, 234);
    transition-duration: 1s;
}
.carte_activites:hover{
    transform: scale(1.1);
}
/**Photo_activités**/

.photo_marseille {
    background-size: cover;
    background-position: center;
    height: 110px;
    border-radius: 15px 15px 0 0;
}

.photo_vieux_port{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.photo_fort_pomègue{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.photo_iles_frioul{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-position-y: 15%;
}

.photo_parc_calanque{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.photo_dame_garde{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.photo_parc_longchamp{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

/****/

.carte_activites_description{
    padding: 5px;
}

.activité_photo_description{
    padding: 5px;
    line-height: 6px;
}

.activites_titre{
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.titre_activites {
    padding: 20px 0 10px 20px;
}

/****/

/**Footer**/

footer{
    background-color: #F2F2F2;
    margin-top: 25px;
}

footer h3{
    padding-top: 35px;
}

footer ul{
    line-height: 30px;
    padding-left: 0px;
    display: block;
    font-size: 16px;
}

.footer_infos{
    width: auto;
    margin-left: 25px;
}

                        /****Ajustement mobile****/

@media screen and (max-width:750px) {
    
    .marge_mobile {
        margin-left: 5%;
        margin-right: 5%;
    }

    #recherche_desktop {
        display: none;
    }
}



                        /****Version desktop****/

@media screen and (min-width:992px){

    body {
        margin: 2% 5% 0 5%;
    }

    main {
        display: grid;
        grid-template-columns: 4fr 2fr;
        
        grid-template-areas: 
            "header header"
            "hebergement aside"
            "activités activités"
            "footer footer";
    }
                        /****header****/
    header {
        display: flex;
        justify-content: space-between;
        min-height: 130px;
    }

    .hebergements_marseille {
        grid-area: hebergement;
    }

    aside {
        grid-area: aside;
    }

    .activites {
        grid-area: activités;
    }

    #recherche_dekstop {
        display: flex;
    }

    #recherche_mobile {
        display: none;
    }

    .search_bar button {
        border-radius: 0px 12px 12px 0px;
        width: 115px;
        font-size: 16px;
    }

    footer {
        grid-area: footer;
    }

    .nav_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    nav  a {
        padding-top: 50px;
        position: initial;
        margin: 20px;
        width: auto;
    }

    .grid_soleil {
        margin-bottom: 35px;
    }

    .grid_chambre {
        margin-bottom: 35px;
    }
    
    .inscrire_link {
        position:initial;
        font-weight: normal;
        padding-top: 50px;
    }

    .inscrire_link:hover {
        border-top: solid 3px #0065FC;;
    }

    .hebergement_link {
        padding-bottom: 0;
        border: none;
        transition: none;
    }

    .hebergement_link:hover {
        border-top: solid 3px #0065FC;
    }

    .hebergement_link:focus {
        border-top: solid 3px #0065fc;
        border-bottom: none;
    }

    .activites_link {
        border-bottom: none;
        color: black;
        padding-bottom: 0;
        transition: none;
    }

    .activites_link:focus {
        border-top: solid 3px #0065fc;
        border-bottom: none;
    }

    .activites_link:hover {
        border-top: solid 3px #0065FC;
        border-bottom: none;
    }

    .nav__logo {
        padding-top: 50px;
    }

    .titre_recherche {
        margin-bottom: 40px;
    }
                        /********/

                        /****Titre et Recherche****/

    h1 {
        padding-top: 0;
        margin-top: 0;
    }

    .search_bar {
        max-width: 380px;
        margin-bottom: 20px;
    }

    .filtres_main {
        display: flex;
        margin-bottom: 20px;
    }
    
    .filtre_titre {
       margin-top: 15px;
       padding-top: 10px;
       margin-right: 20px;
    }

    .recherche_infos {
        justify-content: initial;
    }
    
                        /********/

                        /****hebergement et populaire****/
    
    .hebergements_marseille {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 60px 1fr 1fr;
        margin-right: 50px;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
    }

    .hebergement_titre {
        font-size: 12px;
        grid-column: 1 / 4;
        grid-row: 1;
        margin-bottom: 0;
    }

    .populaire_marseille {
        border-radius: 20px;
    }

    aside h2{
        font-size: 1.2em;
    }

    .carte_hebergement {
        background-color: white;
    }

                        /********/

                        /****Activités****/
            
    .activites {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "titre titre titre titre"
            "port pomegue calanque damegarde"
            "port pomegue calanque ."
            "port . calanque longchamp"
            "port frioul calanque longchamp";
        max-height: 600px;
    }

    .titre_activites {
        padding: 20px 0 10px 20px;
    }

    .activites_titre {
        grid-area: titre;
    }

    .vieux_port {
        grid-area: port;
    }

    .photo_vieux_port{
        height: 400px;
    }

    .pomegue {
       grid-area: pomegue;
    }

    .photo_fort_pomègue {
        height: 180px;
    }

    .frioul {
        grid-area: frioul;
    }

    .calanques {
        grid-area: calanque;
    }

    .photo_parc_calanque {
        height: 400px;
    }

    .dame_garde {
        grid-area: damegarde;
    }

    .photo_dame_garde {
        height: 150px;
    }

    .longchamp {
        grid-area: longchamp;
    }

    .photo_parc_longchamp {
        background-position-y: 20%;
        height: 150px;
    }
                        /*******/

                        /****Footer****/
                   
    footer {
        display: flex;
        justify-content: space-between;
        padding-right: 25%;
        padding-bottom: 25px;
    }                    
}

@media screen and (min-width:750px) and (max-width:992px) {

                        /****Populaire****/

    body {
        margin: 2% 2% 0 2%;
    }

    .filtre_titre {
        text-align: center;
    }

    #recherche_desktop {
        display: none;
    }

    .search_bar {
        margin-left: 20%;
        margin-right: 20%;
    }

    .carte_populaire {
        margin: 10px;
    }

    .populaire_marseille {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-radius: 20px;
        margin-bottom: 30px;  
    }

    .populaire_titre {
        grid-column: 1/4;
        grid-row: 1;
    }

    .grid_soleil {
        grid-column: 1;
        grid-row: 2;
    }

    .grid_chambre {
        grid-column: 2;
        grid-row: 2;
    }

    .grid_bleublanc {
        grid-column: 3;
        grid-row: 2;
    }

    .media_evaluation {
        padding-top: 0;
    }

                        /****Hebergement****/

    .hebergements_marseille {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    .carte_hebergement_description {
        background-color: white;
        border-radius: 20px;
    }

    .hebergement_plus {
        margin-bottom: 20px;
    }

    .hebergement_titre {
        grid-column: 1/4;
        grid-row: 1;
    }

    .grid_cannebiere {
        grid-column: 1;
        grid-row: 2;
    }

    .grid_port {
        grid-column: 2;
        grid-row: 2;
    }

    .grid_mouette {
        grid-column: 3;
        grid-row: 2;
    }

    .grid_mer {
        grid-column: 1;
        grid-row: 3;
    }

    .grid_panier {
        grid-column: 2;
        grid-row: 3;
    }

    .grid_amina {
        grid-column: 3;
        grid-row: 3;
    }

                        /****Activités****/

    .activites {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .activites_titre {
        grid-column: 1/4;
        grid-row: 1;
    }
                    
    .vieux_port {
        grid-column: 1;
        grid-row: 2;
    }                   
    
    .pomegue {
        grid-column: 2;
        grid-row: 2;
    }
                    
    .frioul {
        grid-column: 3;
        grid-row: 2;
    }
                    
    .calanques {
        grid-column: 1;
        grid-row: 3;
    }
                    
    .dame_garde {
        grid-column: 2;
        grid-row: 3;
    }
                    
    .longchamp {
        grid-column: 3;
        grid-row: 3;
    }

                        /****footer****/

    footer {
        display: flex;
    }

    .footer_infos {
        margin-right: 40px;
    }
}     
